body{
    color: rgb(103, 77, 77);
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#round {
    padding: 5px;
    flex: 1;
}

section {
    display: flex;
    text-align: center;
    justify-content:center;
    width:100%;
}

#game {
    text-align: center;
    padding: 15px;
    margin: 15px;
}
#game p {
    font-size: 20px;
    font-weight: bold;
}
#game h2{
    font-size: 20px;
    font-weight: bold;

}
#botoes {
    display: flex;
    height: 300px;
    gap: 13px;
}

#container_placar {
    display: flex;
    flex-wrap: wrap;
    border:  1px solid blue;
    border-radius: 15px 15px 15px 15px;
    padding: 1px;
    background-color: rgb(226, 140, 140);
    max-width: 1000px;
    margin: 0 auto;
}

#container_placar div {
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
   
}

.button:focus {
    border: solid rgb(38, 61, 133);
    outline: none;
}



#rock {
    background-image: url('../imagens/rock.png');
}

#paper {

    background-image: url('../imagens/clipart4288822.png');
}

#scissors {
    background-image: url('../imagens/scissors-icon-25538.png');
}

#scissors,
#paper,
#rock {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    width: 120px;
    height: 120px;

}

img {
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(103, 77, 77);
    color: white;
    text-align: center;
}